.stats
  %ul
    %li
      = link_to users_path do
        = front_page.number_of_users
        %span Reddit users tracked
    %li
      = front_page.reddit_average
      %span
        Average score of
        = front_page.current_subreddit
    %li
      = front_page.mal_average
      %span Average score of MAL
