%h1
  = Rails.configuration.app_config["subreddit"] 
  Reddit Anime List v2.0

= render partial: "stats", locals: { front_page: @front_page }

%div.animelist

  %table
    - @front_page.each do |anime|
      %tr
        %td= anime.rank
        %td
          %img{src: anime.image_url, alt: anime.title}
        %td= anime.title
        %td= anime.score
        %td= anime.score_difference
        %td= anime.mal_score

%div.pagination_controls
  %div= paginate @front_page
