= render partial: "stats", locals: { front_page: @front_page }

.front_page_controls
  .search
    = form_tag "/search", method: :get, class: "search-bar" do
      = search_field_tag "q", nil, placeholder: "Search anime or user"
      = submit_tag "Search"
  .pagination_container
    .pagination_controls= paginate @front_page

.anime_list.alternating_table
  - new_direction = "desc".eql?(params[:direction].try(:downcase)) ? "asc" : "desc"
  %table
    %tr
      %th= link_to "#", url_for(sort: "rank", direction: new_direction)
      %th
      %th= link_to "Title", url_for(sort: "title", direction: new_direction)
      %th= link_to "Score", url_for(sort: "rank", direction: new_direction)
      %th= link_to "MAL Rank", url_for(sort: "mal", direction: new_direction)
      %th= link_to "MAL Score", url_for(sort: "mal", direction: new_direction)
      %th= link_to "Difference", url_for(sort: "difference", direction: new_direction)
    - @front_page.each do |anime|
      - cache ["anime-rank", anime] do
        %tr
          %td.rank= anime.rank
          %td
            = link_to anime_path(anime) do
              %img.thumbnail{src: anime.image_url, title: anime.title}
          %td
            = link_to anime_path(anime) do
              = anime.title
          %td= anime.score
          %td= anime.mal_rank
          %td= anime.mal_score
          %td
            = anime.score_difference
            %br
            = "(#{anime.rank_difference})"

.pagination_controls= paginate @front_page
