%h1
  = Rails.configuration.app_config["subreddit"] 
  Reddit Anime List v2.0

= render partial: "stats", locals: { front_page: @front_page }

.pagination_controls= paginate @front_page

.anime_list

  %table
    %tr
      %th #
      %th
      %th Title
      %th Score
      %th Difference
      %th MAL Score
    - @front_page.each do |anime|
      %tr
        %td.rank= anime.rank
        %td
          = link_to anime do
            %img.thumbnail{src: anime.image_url, alt: anime.title}
        %td
          = link_to anime do
            = anime.title
        %td= anime.score
        %td= "#{anime.score_difference} (#{anime.rank_difference})"
        %td= "#{anime.mal_score} (##{anime.mal_rank})"

.pagination_controls= paginate @front_page
