.search
  = form_tag "/search", method: :get, class: "search-bar" do
    = search_field_tag "q", params[:q], placeholder: "Search anime or user"
    = submit_tag "Search"

%h2 Users

.alternating_table
  %table
    %tr
      %th Reddit profile
      %th MAL profile
      %th Added
    = render partial: "users/user", collection: @users

%h2 Anime
- @anime.each do |anime|
  %p= link_to anime.title, anime

%h2 Manga
- @manga.each do |manga|
  %p= link_to manga.title, manga

-# .alternating_table
-#   %table
