.anime
  %h2.title= anime.title

  .poster
    %img{src: anime.image_url, title: anime.title}

  .stats-container
    .stats
      %ul
        %li
          = anime.rank
          %span Rank
        %li
          = anime.mal_rank
          %span MAL Rank

    .stats
      %ul
        %li
          = anime.score
          %span Score
        %li
          = anime.mal_score
          %span MAL Score
        %li
          = anime.score_difference
          %span Difference

    .stats
      %ul
        %li
          = anime.seen_by
          %span Seen by
        %li
          = anime.number_of_votes
          %span Number of scores

  .user_scores.alternating_table
    %table
      %tr
        %th Reddit Profile
        %th MAL Profile
        %th Score
        %th Status
        %th Episodes Seen
      - scores.each do |score|
        %tr
          %td
            %a{href: "https://www.reddit.com/user/#{score.reddit_name}"}
              = score.reddit_name
          %td
            %a{href: "https://myanimelist.net/profile/#{score.mal_name}"}
              = score.mal_name
          %td= score.score
          %td= score.status
          %td= score.watched
